<header>
</header>
<div id="overlay">
    <div id="menu">
        <section class="close">
            <img src="/images/common/icons/close-white.png" alt="EXIT">
        </section>
        <nav>
        </nav>
    </div>
</div>

<%- include ./flash_msg_div %>