<div id="newsletter">
    <section>
        <h2>KEEP UP TO DATE WITH POMP</h2>
        <p>Sign up to our newsletter the first to receive special news and event updates from POMP.</p>
    </section>
    <section>
        <form action="/newsletter" method="post">
            <input type="email" name="email" id="newsletter-email-input" placeholder="Email Address*" required>
            
            <div class="btn-wrapper">
                <button type="submit" class="btn2">Subscribe</button>
            </div>
        </form>
    </section>
</div>