<%- include ./partials/head %>

<%- include ./partials/head-end %>


<div class="content">
    <div class="title">Create account</div>
      
    <div class="buttons">
        <button class="facebook"><a href="/auth/facebook">Facebook</a></button>
        <button class="google"><a href="/auth/google">Google</a></button>
    </div>
</div>


<%- include ./partials/end %>